/* COMMONS */

html {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid black;
}
h1 {
  text-align: center;
}

/* CONTENT */

form {
  display: flex;
  align-items: center;
}
form ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
form ul li label {
  margin: 0 40px;
}
.createTodo {
  margin-bottom: 30px;
}
.line {
  text-decoration: line-through;
}

/* input[type=checkbox]:checked + label {
  text-decoration: line-through;
}  */

.newTask {
  width: 400px;
  height: 44px;
  padding: 0 4px;
  margin: 0 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 5px;
  border: 1px lightgrey solid;
}
button p:active {
  color: black;
}
button p {
  color: grey;
  font-size: 36px;
}
.trash-btn {
  background-color: white;
  border: none;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  width: 1000px;
  position: absolute;
  bottom: 20px;
  top: 100%;
}
footer a {
  text-decoration: inherit;
  color: inherit;
  font-weight: bold;
}
footer p {
  margin-top: 20px;
}
